<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>AvaliacaoComprasCRUD - Dados da Compra</title>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link type="text/css" th:href="@{/css/compras.css}" rel="stylesheet" />
</head>
<body>
	<div class="container fluid">
		<!-- 	<div th:if="${session.usuario.isAdmin()} == true"> -->
		<p class="login">
			Usuário: <span th:text="${session.usuario.login}"
				th:unless="${session.usuario == null}"></span> <a
				href="/logoutUsuario" class="btn btn-dark">Sair</a>
		</p>
		<h1>Dados da compra</h1>
		<ul class="list-group" th:each="compra : ${compra}">
			<li class="list-group-item">
				<b> Descrição: </b>
				<span th:text="${compra.descricao}"></span>
				<br>
				<b> Data: </b>
				<span th:text="${compra.data}"></span>
				<br> <br>
				<b> Itens: </b> <br>
				<div th:each="item : ${itens}" style="margin-bottom: 10px">
					<b> Descrição: </b> <span th:text="${item.descricao}"></span> <br>
					<b> Tipo: </b> <span th:text="${item.tipo}"></span> <br> 
					<b> Preço: </b> <span th:text="${item.preco}"></span> <br>
					<a class="btn btn-danger" th:href="${(#mvc.url('CC#deletarItem').arg(0, item.itemId)).build()}">
						Deletar item
					</a> <br>
				</div>
				<div th:if="${compra.itens.isEmpty} == true">
					Não há itens por enquanto <br>
				</div> <br> <b> Total: </b><span th:text="${compra.total}"></span>
				<br>
			</li>
		</ul>
	</div>
	<br>
	<div class="container formItem">
		<h2>Adicionar item</h2>
		<form method="post">
			<div class="form-group">
				<label for="desc">Descrição</label> 
				<input type="text" name="descricao" class="form-control" id="desc">
			</div>

			<div class="form-group">
				<label for="tipo">Tipo</label> <select class="form-control"	name="tipo" id="tipo">
					<option value="Comida">Comida</option>
					<option value="Bebida">Bebida</option>
					<option value="Higiene">Higiene</option>
					<option value="Eletronico">Eletrônico</option>
					<option value="Brinquedo">Brinquedo</option>
				</select>
			</div>

			<div class="form-group">
				<label for="preco">Preço</label>
				<input type="text" name="preco" class="form-control" id="preco" placeholder="15.00">
			</div>

			<br>

			<button type="submit" class="btn btn-primary">Cadastrar</button>
			<a class="btn btn-secondary" style="float: right;" href="/listaCompras">Voltar</a>
		</form>
		<br>
		<div style="text-align: center;" th:if="${mensagem}" th:text="${mensagem}"></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>